header {
    background-color: #333;
    color: white;
    }

    .navbar {
        display: flex;
        justify-content: space-between; /* Space between links and logout */
        align-items: center; /* Center items vertically */
        padding: 15px;
    }

    .nav-links {
        display: flex; /* Align links in a row */
    }

    .navbar a {
        color: white;
        text-decoration: none;
        padding: 14px 20px;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    .navbar a:hover {
        background-color: #575757;
    }

    .logout {
        margin-left: auto; /* Push logout to the right */
    }