
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 3rem;
}

.container h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #040403; 
}

.container p {
    text-align: center;
    margin-bottom: 2rem;
    color: #040403; 
}

.reservation-guide {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.step {
    background-color: #F4FDFF;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.step h3 {
    color: #040403;
    margin-bottom: 1rem;
}

.step p {
    color: #040403;
    line-height: 1.6;
}

.step .icon {
    font-size: 2rem;
    color: #5B7553;
    margin-bottom: 1rem;
}
