header {
  background-color: #40282A; /* Changed to #40282A */
  color: #F2D335; /* Changed text color to #F2D335 for contrast */
  padding: 5px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #F4FDFF;
}

.nav-button {
  background-color: #F2C335; /* Changed to #F2C335 */
  color: #333;
  padding: 15px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #D98B48; /* Changed to #D98B48 */
}

.login-button {
  background-color: #40282A; /* Changed to #40282A */
  color: #F2D335; /* Changed text color to #F2D335 for contrast */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-left: 40rem;
}

.login-button:hover {
  background-color: #D98B48; /* Changed to #D98B48 */
}

.logout-button {
  background-color: #f14c39; /* This can remain as is or be changed */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-left: 40rem;
}

.logout-button:hover {
  background-color: #f14c39; /* This can remain as is or be changed */
}

main {
  padding: 2rem;
}