body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Black background */
}

.toggle-sidebar {
    position: absolute;
    top: 160px;
    left: 0;
    padding: 10px 15px;
    background-color: #f7b531; 
    color: #000000; /* Black text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-sidebar:hover {
    background-color: #000000; /* Change hover color to black */
}

.sidebar-container {
    position: fixed;
    left: -250px; /* Hide the sidebar by default */
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #000000; /* Black background */
    margin-top: 140px;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 1000;
}

.sidebar {
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
}

.menu-item {
    text-decoration: none;
    color: #FFFFFF; /* White text color for contrast */
    padding: 10px;
    display: block;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #444444; /* Dark gray color on hover */
}

/* Add this to show the sidebar when the button is clicked */
.show-sidebar {
    left: 0; /* Show the sidebar */
}