/*for reservations*/
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
main {
    padding: 2rem;
}
.container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}
.form-section {
    background-color: #F4FDFF;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 800px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 40px;
}

  /* Progress bar */
.form-progress {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.form-progress .step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-progress .step span {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #5B7553;
    color: white;
    font-weight: bold;
}

.form-progress .step.active span {
    background-color: #5B7553;
}

.form-progress .step p {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
}

  /* Form Steps */
.form-step {
    display: none;
    flex-direction: column;
}

.form-step.active {
    display: flex;
}

label {
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;
}

select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #5B7553;
    display: flex;
    justify-content: space-between; 
}
input {
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #5B7553;
    color: white;
    border: none;
    border-radius: 5px;
    width: 70%;
}

button:hover {
    background-color: #040403;
}

button.prev-btn {
    background-color: #5B7553;
}

button.prev-btn:hover {
    background-color: #040403;
}

button[type="submit"] {
    background-color: #5B7553;
}
button[type="submit"]:hover {
    background-color: #040403;
}
.button-container{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically (if needed) */
    margin-top: 10px; /* Optional: add margin if needed */
    
}