
/* Body styles */
body {
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
.header {
    padding: 0px;  /* Reduced padding */
    position: fixed; /* Fixed position */
    width: 100%;
    top: 0;          /* Stay at the top */
    z-index: 1000;  /* On top of other elements */
}
/* Container styles */
.container {
    width: 60%;
    margin: 200px auto ;
    padding: 2px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Main content styles */
.main-content {
    padding: 70px;
}

/* Profile header styles */
.profile-header {
    display: flex;
    flex-direction: column; /* Stack profile info vertically */
    align-items: center; /* Center profile info */
    margin-bottom: 20px;
    width: 100%; /* Ensure it takes full width */
}
.profile-icon i {
    font-size: 200px; 
    margin-bottom:20px; 
    color: #5B7553;
}
.profile-info {
    width: 80%;
}

.name-section {
    display: flex;
    justify-content: space-between;
}

/* Display field styles */
.display-field {
    padding: 5px;
    border: 1px solid #5B7553;
    border-radius: 5px;
    margin-bottom: 5px;
}

.first-name {
    width: 50%;
    text-align: center;
}

.last-name {
    width: 50%;
    text-align: center;
}

.full-width {
    width: 99%;
    text-align: center;
}

.age-gender-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.age-gender-section .display-field {
    width: 50%;
}

.sidebar-container {
    display: flex;
    margin-top: 60px; /* Space for the fixed header */
}

.sidebar {
    width: 200px;
    height: calc(100vh - 60px); /* Adjust height for header */
    background-color:#5B7553;
    color: white;
    padding: 20px;
    position: fixed;
    top: 150px; /* Push down the sidebar below the header */
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 15px 0;
    margin-bottom: 40px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    
}

.sidebar ul li a:hover {
    color: #3498db;
}
